# =========================
# Python
# =========================
__pycache__/
*.pyc

# =========================
# Virtual Environment
# =========================
venv/
.env/

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Trained ML Models (DO NOT COMMIT)
# =========================
ai_model/models/
*.pkl
*.joblib

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db